*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button{
    font-family: inherit;
    font-size: inherit;
    background: inherit;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

.container {
    max-width: 1360px;
    margin: 0px auto;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;

}

.primary-title{
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    color: var(--text-dark, #403F3D);
    letter-spacing: 0.02rem;

}

.primary-title_italic{
    color: #B0907A;
    font-style: italic;
    letter-spacing: 0.01rem;
}


body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 150%;
    background: var(--background-body, #E1D4C9);
}

.header__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 20px 0;
}

.nav__menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color:#403F3D;

}
.nav-a {
    position: relative;
    text-decoration: none;
    color:#403F3D;

    height: 24px;

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.nav-a:hover{
    color:#403F3D;
}

.nav-a::before{
    background-color: #403F3D;

    content: "";
    position: absolute;
    display: block;

    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;

    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.nav-a:hover::before {
    transform: scaleX(1);
}

.button__adaptive{
    min-width: 44px;
    height: 44px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 100px;
    background-color: #E1D4C9;;
    border: 1px solid var(--border-dark, #665F55);
}

.vector{
    min-width: 16px;
    height: 10px;
    stroke-width: 1.5px;
    content: "";
    display: inline-block;
    stroke-width: 1.5px;
    stroke: var(--text-dark, #403F3D);
}

.hero{
    padding: 0 0 50px 0;
}

.img__hero{
    padding: 100px 100px 100px 100px;
    border-radius: 40px;
    background: url(../../images/img-hero.jpg) no-repeat center/cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.hero__content{
    max-width: 530px;

}

.hero__title{
    font-weight: 600;
    color: var(--text-accent, #E1D4C9);

    font-size: 73px;
    line-height: 75.6px;
    z-index: 1;
    letter-spacing: 0.2px;
    margin: 0 0 40px 0;
}

.hero__text{
    color: var(--text-accent, #E1D4C9);

    font-weight: 600;
    line-height: 24px;
    margin: 0 0 43px 0;
}

.button-menu{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
    height: 64px;
    background: #E1D4C9;
    border-radius: 100px;
    border: solid 2px #B6AEA7;

    transition: 0.5s;
}

.button__text{
    font-weight: 600;
    line-height: 24px;
}

.hero__icon{
    display: none;
}

.button-menu:hover{
    transition: 0.6s;
}

.button-menu:hover .hero__icon{
    display: block;
}

.enjoy-title{
    max-width: 530px;
}

.favorite-coffee{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;

    background-color: #E1D4C9;
}

.favorite-coffee__title{
    color: var(--text-dark, #403F3D);
    text-align: center;
    margin: 0 0 20px 0;

    font-size: 61px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.slide__img{
    max-width: 100%;
    margin: 0 0 20px 0;
}

.slide__title{
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #403f3d;
    margin: 0 0 15px 0;
}

.slide__desc{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0 0 20px 0;
}

.slide__price{
    
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #403f3d;
}


.slide{
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0 20px 0;
}


.favorite-coffee__slider{
    margin: 0 0 15px 0;
}

.slider{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.slider__button{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    border: 2px solid #665F55;
    border-radius: 50%;

    background: #E1D4C9;

}

.slider__button_prev{
    transform: rotate(180deg);
}

.slider__button:hover{
    cursor: pointer;
    background: #665F55;
    transition: 0.6s;
}

.slider__button:hover svg path{
    stroke: #C1B6AD;
    transition: 0.6s;
}

.controls{
    width: 144px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#control-first{
    background: var(--border-dark, #665F55);
    width: 40px;
    height: 4px;
    margin: 0 10px 0 0;
    border-radius: 100px;
    display: flex;
}

.control{
    width: 40px;
    height: 4px;
    margin: 0 10px 0 0;

    display: flex;

    border-radius: 100px;
    background: var(--border-dark, #C1B6AD);
}


.about{
    padding: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
}

.about__title{
    margin: 0 0 40px 0;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    color: var(--text-dark, #403F3D);
}

.about__images{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 40px;
    flex-direction: column;
    max-height: 1060px;
}

.about__img{
    flex: 1 1 48%;
    max-width: 100%;
    border-radius: 20px;
}

.mobile-app{
    padding: 190px 0 120px 0;
    background-image: url(../../images/mobile-screens.png);
    background-repeat: no-repeat;
    background-size: 46%;
    background-position: top+50px right;
}

.mobile-app_content{
    max-width: 625px;
    padding: 5px 0 0 0;
}

.mobile-app__title{
    margin:  0 0 40px 0;
}

.mobile-app__text{
    margin: 0 0 40px 0;
}

.mobile-app__buttons{
    display: flex;
    gap: 10px;
}

.mobile-app__button{
    width: 200px;
    height: 64px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 100px;
    border: solid 2px #665F55;
}

.mobile-app__button:hover{
    background: #665F55;
    transition: 0.6s;
}

.mobile-app__button:hover .available{
    color: #E1D4C9;
    transition: 0.6s;
}

.mobile-app__button:hover .magz{
    color: #E1D4C9;
    transition: 0.6s;
}

.mobile-app__button:hover svg path{
    stroke: #E1D4C9;
    fill: #E1D4C9;
    transition: 0.6s;
}

.available{
    display: block;
    font-size: 10px;
    color: #403F3D;
}

.magz{
    display: block;
    font-weight: 600;
    color: #403F3D;
}

.footer{
    padding: 125px 0 40px 0;
}

.footer__title{
    margin: 0 0 40px 0;
}

.footer__container{
    width: 100%;
    padding: 100px 100px 100px 100px;
    border-radius: 40px;
    background: var(--background-container, #665F55);
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.footer__button{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: solid 1px #C1B6AD;
    background-color: #665F55;
}

.footer__button:hover{
    cursor: pointer;
    background: #E1D4C9;
    transition: 0.6s;
}

.footer__button:hover svg path{
    stroke: #403F3D;
    transition: 0.6s;
}

.footer__ofer{
    display: flex;
    flex-direction: column;
    flex: 0 1 50%
}

.footer__social-links{
    display: flex;
    gap: 12px;
}

.footer__contanct-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0 1 50%;
    padding: 10px 0 0 0;
}

.footer__subtitle{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    color: var(--text-light, #E1D4C9);
}

.footer__link{
    text-decoration: none;
    position: relative;
    color:#E1D4C9;
}

.footer__link:hover{
    color:#E1D4C9;
}

.footer__link::before{
    background-color: #E1D4C9;

    content: "";
    position: absolute;
    display: block;

    width: 45%;
    height: 2px;
    bottom: 0;
    left: 0;

    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.footer__link:hover::before {
    transform: scaleX(1);
}

@media (max-width: 768px){
.container {
    max-width: 688px;
}

.nav__menu{
    display: none;
}

.coffe__menu{
    display: none;
}

.button__adaptive{
    display: flex;
}

.img__hero{
    padding: 100px 60px;
}

.hero__icon{
    display: none;
}

.button-menu:hover{
    transition: 0.6s;
}

.button-menu:hover .hero__icon{
    display: block;
}

.favorite-coffee{
    padding: 45px 0 50px 0;
}

.favorite-coffee__title{
    margin: 0 0 20px 0;
}

.slide__img{
    margin: 0 0 25px 0;
}

.slide__desc{
    margin: 0 0 20px 0;
}

.about__img_2{
    display: none;
}

.about__img_3{
    display: none;
}



.about__images{
    display: flex;
    flex-direction: column;
    gap: 40px 40px;
    max-height: 1260px;
    padding: 0 5px;
}


.mobile-app{
    padding: 50px 0 700px 0;
    background-size: 90%;
    background-position: top+500px center;
}

.mobile-app_content{
    max-width: 688px;
    padding: 0;
}

.mobile-app__button{
    width: 205px;
}

.footer__container{
    flex-direction: column;
    padding: 100px 60px 90px 60px;
}

.footer__subtitle{
    margin: 0 0 35px 0;
}

.footer__link{
    margin: 0 0 20px 0;
}

.footer__contanct-info{
    padding: 5px 0 0 0;
}

}

@media (max-width: 380px){
.container {
    max-width: 348px;
}

.nav__menu{
    display: none;
}

.coffe__menu{
    display: none;
}

.button__adaptive{
    display: flex;
}

.header__content{
    padding: 20px 0 15px 0;
}

.img__hero{
    padding: 60px 16px;
}

.primary-title{
    font-size: 42px;
    font-weight: 600;
    line-height: 115%;
}

.hero__text{
    margin: 0 0 40px 0;
}

.slide{
    width: 348px;
}

.favorite-coffee__title{
    font-size: 32px;
}

.slider__button{
    display: none;
}

.favorite-coffee{
    padding: 50px 0 50px 0;
}

.favorite-coffee__title{
    margin: 0 0 30px 0;
}

.slide__img{
    margin: 0 0 20px 0;
}

.about__title{
    font-size: 32px;
    line-height: 125%;
}

.about__images{
    max-height: 1492px;
    flex-direction: row;
    padding: 0;
}
.about__img{
    object-fit: cover;
    width: 348px;
    height: 590px;
}

.mobile-app__title{
    font-size: 32px;
}

.mobile-app{
    padding: 55px 0 380px 0;
}

.mobile-app__buttons{
    flex-direction: column;
    gap: 15px;
}

.mobile-app__text{
    margin: 0 0 45px 0;
}

.mobile-app__button{
    width: 200px;
}

.mobile-app{
    background-size: 100%;
    background-position: top+473px center;
}

.footer{
    padding: 105px 0 40px 0; 
}

.footer__title{
    font-size: 32px;
    color: var(--text-light, #E1D4C9);
}

.footer__container{
    padding: 70px 16px 50px 16px;
    display: block;
}

.footer__ofer{
    margin: 0 0 30px 0;
}

.footer__subtitle{
    margin: 0 0 35px 0;
}

.footer__contanct-info{
    padding: 10px 0 0 0;
}

}

/* .footer_ofer{
    max-width: 530px;
} */


/* html {
    scroll-behavior: smooth;
  }



body{
    max-width: 1440px;
    margin: auto;
    position: relative;
    background-size: 100%; 

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #E1D4C9;
}

header{
    width: 1440px;
    height: 744px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #E1D4C9;
}

#header-menu{
    width: 1360px;
    height: 60px;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 40px 15px 40px;
}

/* #container-nav{
    width: 1440px;
    height: 60px;
    padding: 20px 0 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
} */

/* #logo{
    width: 100px;
    height: 60px;
}


.burger-menu{
    display: none;;
}

.button-adaptive{
    display: none;
    min-width: 44px;
        height: 44px;
        
        justify-content: center;
        align-items: center;
        position: relative;
        flex-direction: column;

        border-radius: 100px;
        background-color: #E1D4C9;;
        border: 1px solid var(--border-dark, #665F55);
}

.vector{
    min-width: 16px;
    height: 2px;
    stroke-width: 1.5px;
    content: "";
    display: inline-block;
    stroke-width: 1.5px;
    stroke: var(--text-dark, #403F3D);
    padding: 4px 0 4px 0;
}

#nav-menu{
    width: 1188px;
    height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color:#403F3D;
}

.nav-a {
    position: relative;
    text-decoration: none;
    color:#403F3D;

    height: 24px;
    margin: -5px 2px 0 0;

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.nav-a:hover{
    color:#403F3D;
}

.nav-a::before{
    background-color: #403F3D;

    content: "";
    position: absolute;
    display: block;

    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;

    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.nav-a:hover::before {
    transform: scaleX(1);
}

#coffe-menu{
    width: 72px;
    height: 28px;
    margin: 0 0 3px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#cup{
    width: 20px;
    height: 20px;
    margin: 0 0 0 1px;
}

p{
    margin: 0;
    width: 44px;
    height: 24px;

    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color:#403F3D;
}

#hero{
    width: 1440px;
    height: 644px;
    padding: 20px 0 0 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#container-coffe{
    width: 1360px;
    max-height: 644px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding: 0px 40px;
}

#hero-img{
    background: url(../../images/img-hero.jpg), lightgray 50% / cover no-repeat;
    width: 1360px;
    height: 644px;
    position: absolute;
    border-radius: 40px;
    background-position: -67px -34px;
}

#container-offer{
    width: 530px;
    height: 444px;
    padding: 100px;
    z-index: 1;

    color: #E1D4C9;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h2{
    margin:  0 0 0 2px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 73px;
    line-height: 75.6px;
    z-index: 1;
    letter-spacing: 0.2px
}

h5{
    width: 530px;
    height: 72px;
    margin: 40px 0 0 0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.button-menu{
    position: relative;
    width: 200px;
    height: 64px;
    background: #E1D4C9;
    border-radius: 100px;
    border: solid 2px #B6AEA7;
    margin: 40px 0 -10px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}

.text{
    transition: 0.5s;
    position: absolute;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color:#403F3D;
    text-align: center;
}

.icon-coffe{
    padding: 0 0 0 76px;
    transition: 0.6s;
}

.button-menu:hover{
    text-align: center;
    transition: 0.6s;
}

.button-menu:hover .text{
    padding: 0 9px 0 0;
    transition: 0.6s;
}
.button-menu:hover svg path{
    stroke: #403F3D;
    transition: 0.6s;
}

#favorite-coffe{
    width: 1440px;
    height: 799px;
    padding: 100px 0 0 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #E1D4C9;
}

#container-favorite{
    width: 1360px;
    height: 799px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#title-fav{
    width: 1360px;
    height: 75px;
    margin: 0 1px 0 0;

    font-family: 'Inter';
    font-weight: 600;
    font-size: 61px;
    line-height: 75px;
    text-align: center;

    color: #403F3D;
}

#container-slider{
    width: 1360px;
    height: 684px;
}

#slider{
    width: 1360px;
    height: 640px;
    padding: 22px 0 0 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#button-arrow{
    width: 60px;
    height: 60px;

    box-sizing: border-box;
    border: 2px solid #665F55;
    border-radius: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 17px 19px;
    transform: rotate(180deg);
    background: #E1D4C9;
    margin: 0 0 0 4px;

    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color:#403F3D;
}

#button-arrow:hover{
    cursor: pointer;
    background: #665F55;
    transition: 0.6s;
}

#button-arrow:hover svg path{
    stroke: #C1B6AD;
    transition: 0.6s;
}

#content-slider{
    width: 1152px;
    height: 640px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#card-slider{
    width: 480px;
    height: 640px;
}

#frappo{
    width: 480px;
    height: 480px;
}

#subtitle-slider{
    width: 480px;
    height: 140px;
}

#name-coffe{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #403f3d;
    margin: 17px 0 0 -1px;
}

#description-coffe{
    width: 480px;
    height: 48px;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 16px 0 0 1px;
}

#button-arrow-right{
    box-sizing: border-box;
    border: 2px solid #665F55;
    border-radius: 100px; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 17px 19px;
    background: #E1D4C9;
    margin: 0 0 0 4px;

    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color:#403F3D;
    width: 60px;
    height: 60px; 
}

#button-arrow-right:hover{
    cursor: pointer;
    background: #665F55;
    transition: 0.6s;
}

#button-arrow-right:hover svg path{
    stroke: #C1B6AD;
    transition: 0.6s;
}

#price{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #403f3d;
    margin: 16px 0 0 0;
}

#controls{
    width: 144px;
    height: 4px;
    margin: 0 0 0 12px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#control-first{
    background: var(--border-dark, #665F55);
    width: 40px;
    height: 4px;
    margin: 0 10px 0 0;
    border-radius: 100px;
    display: flex;
}

.control{
    width: 40px;
    height: 4px;
    margin: 0 10px 0 0;

    display: flex;

    border-radius: 100px;
    background: var(--border-dark, #C1B6AD);
}

#about{
    width: 1440px;
    height: 1325px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0 0 0;
    background: #E1D4C9;
}

#container-about{
    width: 1408px;
    height: 1325px;
}

#title-about{
    width: 1408px;
    height: 225px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 60px;
    line-height: 75px;
    margin: -1px 0 0 25px;

    color: #403F3D;
}

#images{
    width: 1360px;
    height: 1060px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.column{
    width: 660px;
    height: 1060px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#img-about1{
    background: url(../../images/about-1.jpg), lightgray 50% / cover no-repeat;
    width: 660px;
    height: 590px;
    border-radius: 20px;
}

#img-about2{
    background: url(../../images/about-2.jpg), lightgray 50% / cover no-repeat;
    width: 660px;
    height: 430px;
    border-radius: 20px;
}

 #img-about3{
    background: url(../../images/about-3.jpg), lightgray 50% / cover no-repeat;
    width: 660px;
    height: 430px;
    border-radius: 20px;
}

#img-about4{
    background: url(../../images/about-4.jpg), lightgray 50% / cover no-repeat;
    width: 660px;
    height: 590px;
    border-radius: 20px;
}

#mobile-up{
    width: 1440px;
    height: 630px;
    background: #E1D4C9;
    padding: 100px 0 0 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#container-mobile{
    width: 1360px;
    height: 630px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#ofer{
    width: 630px;
    height: 342px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#download{
    color: #403F3D;
    font-family: 'Inter';
    font-size: 62px;
    line-height: 75px;
    font-weight: 600;
    margin: 0 0 0 -3px;
}

#subtitle-download{
    width: 630px;
    height: 48px;
    color: #403F3D;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
}

#button-download{
    width: 420px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.but-download{
    width: 200px;
    height: 64px;
    background: #E1D4C9;
    border-radius: 100px;
    border: solid 2px #665F55;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.but-download:hover{
    cursor: pointer;
    background: #665F55;
    transition: 0.6s;
}

.but-download:hover .available{
    color: #E1D4C9;
    transition: 0.6s;
}

.but-download:hover .magz{
    color: #E1D4C9;
    transition: 0.6s;
}

.but-download:hover svg path{
    stroke: #E1D4C9;
    fill: #E1D4C9;
    transition: 0.6s;
}


.available{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #403F3D;
    margin: -26px 0 0 -23px;

    width: 106px;
    height: 14px;
}

.magz{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #403F3D;
    margin: 13px 0 0 -147px;

    width: 169px;
    height: 21px;

}

#mag{
    margin: 14px 0 0 -158px;
}

.icon-dow{
    margin: 0 0 0 9px;
}

#contacts{
    width: 1440px;
    height: 450px;
    background: #E1D4C9;
    padding: 100px 0 0 0;

    display: flex;
    justify-content: center;
}

#container-footer{
    width: 1360px;
    height: 450px;
    border-radius: 40px;
    background: #665F55;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.but-footer{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: solid 1px #C1B6AD;
    background-color: #665F55;
}

.but-footer:hover{
    cursor: pointer;
    background: #E1D4C9;
    transition: 0.6s;
}

.but-footer:hover svg path{
    stroke: #403F3D;
    transition: 0.6s;
}

#ofer-footer{
    width: 530px;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container-for-button{
    width: 204px;
    height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0 0 0;
}

#contact-info{
    width: 530px;
    height: 186px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

#title-footer{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 61px;
    line-height: 75px;
    margin: 0 0 0 1px;
    color: #E1D4C9;
}

#subtitle-footer{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin: -4px 0 0 2px;

    color: #E1D4C9;
}

#street{
    display: flex;
    width: 200px;
    height: 28px;
}

#phone{
    display: flex;
    width: 200px;
    height: 28px;
}

#time{
    display:flex;
    width: 300px;
    height: 28px;
}

#other-info{
    width: 262px;
    height: 116px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 26px 0 0 0;
}

.contacts-text{
    width: 234px;
    height: 24px;
    margin: 5px 0 0 11px;

    font-family: 'Inter';
    font-weight: 600;
    font-size: 15.5px;
    line-height: 24px;
    color: #E1D4C9;
}

.a-footer{
    text-decoration: none;
    position: relative;
    color:#E1D4C9;
}

.a-footer:hover{
    color:#E1D4C9;
}

.a-footer::before{
    background-color: #E1D4C9;

    content: "";
    position: absolute;
    display: block;

    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;

    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.a-footer:hover::before {
    transform: scaleX(1);
} */


/* @media (max-width: 768px){
    #nav-menu{
        display: none;
    }

    #burmenu{
        display: none;
    }

    .button-adaptive{
        display: flex;
    } */


/* body{
    margin: auto;
    position: relative;
    background-size: 100%; 

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #E1D4C9;
    }

header{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #E1D4C9;
}

    #header-menu{
        display: flex;
        min-width: 688px;
        height: 60px;

        justify-content: space-between;
        align-items: center;
        padding: 13px 40px 15px 40px;
    }



    #nav-menu{
        display: none;
    }

    #burmenu{
        display: none;
    }

    .nav-a {
        position: relative;
        text-decoration: none;
        color:#403F3D;

        height: 24px;
        margin: -5px 2px 0 0;

        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }

    .nav-a:hover{
        color:#403F3D;
    }

    .nav-a::before{
        background-color: #403F3D;

        content: "";
        position: absolute;
        display: block;

        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;

        transform: scaleX(0);
        transition: transform 0.5s ease;
    }

    .nav-a:hover::before {
        transform: scaleX(1);
    }

    #coffe-menu{
        display: none;
    }

    .button-adaptive{
        min-width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-direction: column;

        border-radius: 100px;
        background-color: #E1D4C9;;
        border: 1px solid var(--border-dark, #665F55);
    }

    .vector{
        min-width: 16px;
        height: 2px;
        stroke-width: 1.5px;
        content: "";
        display: inline-block;
        stroke-width: 1.5px;
        stroke: var(--text-dark, #403F3D);
        padding: 4px 0 4px 0;
    }

    #hero{
        min-width: 688px;
        height: 644px;

        display: flex;
        padding: 0px 40px;
        flex-direction: column;
        align-items: center;
        align-self: stretch;

        border-radius: 40px;
    }

#hero-img{
    border-radius: 40px;
    background: url(../../images/img-hero.jpg) no-repeat center/cover;
    min-width: 688px;
    height: 644px;
    position: absolute;
}


#container-coffe{
    min-width: 688px;
    height: 644px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

#container-offer{
    min-width: 530px;
    height: 444px;
    z-index: 1;
    padding: 100px 60px;
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
h2{
    margin:  0 0 0 2px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 73px;
    line-height: 75.6px;
    z-index: 1;
    color: var(--text-light, #E1D4C9);
    letter-spacing: 0.2px
}

h5{
    width: 530px;
    height: 72px;
    margin: 40px 0 0 0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: var(--text-light, #E1D4C9);
    line-height: 24px;
}

.button-menu{
    position: relative;
    width: 200px;
    height: 64px;
    background: #E1D4C9;
    border-radius: 100px;
    border: solid 2px #B6AEA7;
    margin: 40px 0 -10px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}

.text{
    transition: 0.5s;
    position: absolute;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color:#403F3D;
    text-align: center;
} */

