.conteiner__add-car,
.conteiner__change-car,
.conteiner__button-fun {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.selected {
  border: 2px solid blue; 

}

.garage__container-btn{
  display: flex;
  gap: 10px;

}

.distance {
  display: inline-block;
}

.car_image {
  display: inline-block;
}