@font-face {
    font-family: "Inter";
    src: url("Inter-Italic.woff2"),
    url("/fonts/Inter-Italic.woff2") format("woff2");
}

body{
    max-width: 1440px;
    margin: auto;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 

}

header{
    width: 1440px;
    height: 744px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 20px; */
    background-color: #E1D4C9;

}

#header-menu{
    width: 1360px;
    height: 60px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#container-nav{
    width: 1440px;
    height: 60px;
    padding: 20px 0 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 100px;
    height: 60px;
}

#nav-menu{
    width: 1188px;
    height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;

    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color:#403F3D;

}

#nav-a {
    position: relative;
    text-decoration: none;
    color:#403F3D;

}

#nav-a:hover{
    color:#403F3D;
}

#nav-a::before{
    background-color: #403F3D;

    content: "";
    position: absolute;
    display: block;

    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;

    transform: scaleX(0);
    transition: transform 0.3s ease;
}

#nav-a:hover::before {
    transform: scaleX(1);
  }



#coffe-menu{
    width: 72px;
    height: 28px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#cup{
    width: 20px;
    height: 20px;
}

p{
    margin: 0;
    width: 44px;
    height: 24px;

    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color:#403F3D;
}

/* #start-screen{
    width: 1440px;
    height: 724px;
    z-index: -1;
    margin-top: -120px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #E1D4C9;
 
} */

#hero{
    width: 1440px;
    height: 644px;
    padding: 20px 0 0 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#container-coffe{
    width: 1360px;
    height: 644px;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

#img-hero{
    width: 1360px;
    height: 643px;
    border-radius: 40px;
    position: absolute;
}

#container-offer{
    width: 530px;
    height: 444px;
    padding: 100px;
    z-index: 1;

    color: #E1D4C9;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1{
    margin: 0;
    font-family:  Helvetica;
    font-weight: 600;
    font-size: 72px;
    font-style: italic;
    line-height: 75.6px;
    z-index: 1;

}

h5{
    width: 530px;
    height: 72px;
    margin: 43px 0 0 0;
    font-family:  Helvetica;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

#button-menu{

    width: 200px;
    height: 64px;
    background: #B6AEA7;
    border-radius: 100px;
    border: solid 2px #B6AEA7;
    margin: 13px 0 -14px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#button-menu:hover{
    background: #B6AEA7;
    cursor: pointer;
}

#favorite-coffe{
    width: 1440px;
    height: 799px;
    padding: 100px 0 0 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #E1D4C9;
}

#container-favorite{
    width: 1360px;
    height: 799px;
}

#title-fav{
    width: 1360px;
    height: 75px;
    margin: 0;

    font-family: Helvetica;
    font-weight: 600;
    font-style: italic;
    font-size: 60px;
    line-height: 75px;
    text-align: center;

    color: #403F3D;

}

#container-slider{
    width: 1360px;
    height: 684px;
}

#slider{
    width: 1360px;
    height: 640px;
    padding: 41px 0 0 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#button-arrow{
    width: 60px;
    height: 60px;

    box-sizing: border-box;
    border: 2px solid #665F55;
    border-radius: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 23px 19px;
    transform: rotate(180deg);
    background: #E1D4C9;
    margin-top: -2px;
}

#content-slider{
    width: 1152px;
    height: 640px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#card-slider{
    width: 480px;
    height: 640px;
}

#frappo{
    width: 480px;
    height: 480px;
}

#subtitle-slider{
    width: 480px;
    height: 140px;
}

#name-coffe{
    font-family: Helvetica;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #403f3d;
    margin: 19px 0 0 0;
}

#description-coffe{
    width: 480px;
    height: 48px;
    font-family: Helvetica;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    margin: 13px 0 0 0;
}


#button-arrow-right{
    width: 60px;
    height: 60px;

    box-sizing: border-box;
    border: 2px solid #665F55;
    border-radius: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 23px 19px;
    background: #E1D4C9;
    margin-top: -2px;
}

#price{
    font-family: Helvetica;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #403f3d;
    margin: 16px 0 0 0;

}

#controls{
    width: 144px;
    height: 4px;
}

#about{
    width: 1440px;
    height: 1325px;
    background: #E1D4C9;
}

#about{
    width: 1440px;
    height: 1325px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0 0 0;
}

#container-about{
    width: 1360px;
    height: 1325px;
}

#title-about{
    width: 1360px;
    height: 225px;
    font-family: Helvetica;
    font-weight: 600;
    font-size: 60px;
    line-height: 75px;
    margin: 0 0 0 6px;

    color: #403F3D;
}

#images{
    width: 1360px;
    height: 1060px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.column{
    width: 660px;
    height: 1060px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heigh{
    width: 660px;
    height: 590px;
    border-radius: 20px;
}

.width{
    width: 660px;
    height: 430px;
    border-radius: 20px;
}


