body{
    max-width: 1440px;
    margin: auto;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

header{
    width: 1440px;
    height: 744px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #E1D4C9;

}

#header-menu{
    width: 1360px;
    height: 60px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#container-nav{
    width: 1440px;
    height: 60px;
    padding: 20px 0 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 100px;
    height: 60px;
}

#nav-menu{
    width: 1188px;
    height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color:#403F3D;

}

.nav-a {
    position: relative;
    text-decoration: none;
    color:#403F3D;

    height: 24px;
    margin: -5px 2px 0 0;

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.nav-a:hover{
    color:#403F3D;
}

.nav-a::before{
    background-color: #403F3D;

    content: "";
    position: absolute;
    display: block;

    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;

    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-a:hover::before {
    transform: scaleX(1);
  }



#coffe-menu{
    width: 72px;
    height: 28px;
    margin: 0 0 3px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#cup{
    width: 20px;
    height: 20px;
    margin: -3px 0 0 0;
}

p{
    margin: 0;
    width: 44px;
    height: 24px;

    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color:#403F3D;
}

#hero{
    width: 1440px;
    height: 644px;
    padding: 20px 0 0 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#container-coffe{
    width: 1360px;
    max-height: 644px;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

#img-hero{
    width: 1360px;
    height: 644px;
    border-radius: 40px;
    position: absolute;
}

#container-offer{
    width: 530px;
    height: 444px;
    padding: 100px;
    z-index: 1;

    color: #E1D4C9;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h2{
    margin:  0 0 0 7px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 72px;
    line-height: 75.6px;
    z-index: 1;
    letter-spacing: 0.2px

}

h5{
    width: 530px;
    height: 72px;
    margin: 40px 0 0 0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

#button-menu{
    width: 200px;
    height: 64px;
    background: #E1D4C9;
    border-radius: 100px;
    border: solid 2px #B6AEA7;
    margin: 16px 0 -14px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color:#403F3D;
}

#button-menu:hover{
    background: #B6AEA7;
    cursor: pointer;
}


#favorite-coffe{
    width: 1440px;
    height: 799px;
    padding: 100px 0 0 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #E1D4C9;
}

#container-favorite{
    width: 1360px;
    height: 799px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#title-fav{
    width: 1360px;
    height: 75px;
    margin: 0 1px 0 0;

    font-family: 'Inter';
    font-weight: 600;
    font-size: 61px;
    line-height: 75px;
    text-align: center;

    color: #403F3D;

}

#container-slider{
    width: 1360px;
    height: 684px;
}

#slider{
    width: 1360px;
    height: 640px;
    padding: 22px 0 0 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#button-arrow{
    width: 60px;
    height: 60px;

    box-sizing: border-box;
    border: 2px solid #665F55;
    border-radius: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 23px 19px;
    transform: rotate(180deg);
    background: #E1D4C9;
    margin: 0 0 0 4px;

    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color:#403F3D;
}

#button-arrow:hover{
    cursor: pointer;
    background: #665F55;
}

#content-slider{
    width: 1152px;
    height: 640px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#card-slider{
    width: 480px;
    height: 640px;
}

#frappo{
    width: 480px;
    height: 480px;
}

#subtitle-slider{
    width: 480px;
    height: 140px;
}

#name-coffe{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #403f3d;
    margin: 17px 0 0 -1px;
}

#description-coffe{
    width: 480px;
    height: 48px;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 16px 0 0 1px;
}


#button-arrow-right{
    width: 60px;
    height: 60px;

    box-sizing: border-box;
    border: 2px solid #665F55;
    border-radius: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 23px 19px;
    background: #E1D4C9;
    margin: 0 3px 0 0;

    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color:#403F3D;
}

#button-arrow-right:hover{
    cursor: pointer;
    background: #665F55;
}

#price{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #403f3d;
    margin: 16px 0 0 0;

}

#controls{
    width: 144px;
    height: 4px;
    margin: 0 0 0 12px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.control{
    width: 40px;
    height: 4px;
    margin: 0 10px 0 0;

    display: flex;

    border-radius: 100px;
    background: var(--border-dark, #665F55);

}

#about{
    width: 1440px;
    height: 1325px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0 0 0;
    background: #E1D4C9;
}

#container-about{
    width: 1360px;
    height: 1325px;
}

#title-about{
    width: 1360px;
    height: 225px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 61px;
    line-height: 75px;
    margin: 0;

    color: #403F3D;
}

#images{
    width: 1360px;
    height: 1060px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.column{
    width: 660px;
    height: 1060px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#img-about1{
    background: url(../images/about-1.jpg), lightgray 50% / cover no-repeat;
    width: 660px;
    height: 590px;
    border-radius: 20px;
}

#img-about2{
    background: url(../images/about-2.jpg), lightgray 50% / cover no-repeat;
    width: 660px;
    height: 430px;
    border-radius: 20px;
}

 #img-about3{
    background: url(../images/about-3.jpg), lightgray 50% / cover no-repeat;
    width: 660px;
    height: 430px;
    border-radius: 20px;
}

#img-about4{
    background: url(../images/about-4.jpg), lightgray 50% / cover no-repeat;
    width: 660px;
    height: 590px;
    border-radius: 20px;
}

#mobile-up{
    width: 1440px;
    height: 630px;
    background: #E1D4C9;
    padding: 100px 0 0 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#container-mobile{
    width: 1360px;
    height: 630px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#ofer{
    width: 630px;
    height: 342px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#download{
    color: #403F3D;
    font-family: 'Inter';
    font-size: 62px;
    line-height: 75px;
    font-weight: 600;
    margin: 0 0 0 -3px;
}

#subtitle-download{
    width: 630px;
    height: 48px;
    color: #403F3D;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
}

#button-download{
    width: 420px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.but-download{
    width: 200px;
    height: 64px;
    background: #E1D4C9;
    border-radius: 100px;
    border: solid 2px #665F55;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.available{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #403F3D;
    margin: -26px 0 0 -23px;

    width: 106px;
    height: 14px;
}

.magz{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #403F3D;
    margin: 13px 0 0 -151px;

    width: 169px;
    height: 21px;

}

.icon{
    margin: 0 0 0 -1px;
}

footer{
    width: 1440px;
    height: 450px;
    background: #E1D4C9;
    padding: 100px 0 0 0;

    display: flex;
    justify-content: center;
}

#container-footer{
    width: 1360px;
    height: 450px;
    border-radius: 20px;
    background: #665F55;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.but-footer{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: solid 1px #C1B6AD;
    background-color: #665F55;
}

.but-footer:hover{
    cursor: pointer;
    background: #E1D4C9;
}

#ofer-footer{
    width: 530px;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container-for-button{
    width: 204px;
    height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0 0 0;

}

#contact-info{
    width: 530px;
    height: 186px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

#title-footer{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 61px;
    line-height: 75px;
    margin: 0 0 0 1px;
    color: #E1D4C9;
}

#subtitle-footer{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin: -4px 0 0 2px;

    color: #E1D4C9;
}

#street{
    display: flex;
    width: 182px;
    height: 28px;
}

#phone{
    display: flex;
    width: 175px;
    height: 28px;
}

#time{
    display:flex;
    width: 262px;
    height: 28px;
}

#other-info{
    width: 262px;
    height: 116px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 26px 0 0 0;

}

.contacts-text{
    width: 234px;
    height: 24px;
    margin: 5px 0 0 3px;

    font-family: Helvetica;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #E1D4C9;
}

.a-footer{
    text-decoration: none;
    position: relative;
    color:#E1D4C9;

}

.a-footer:hover{
    color:#E1D4C9;
}

.a-footer::before{
    background-color: #E1D4C9;

    content: "";
    position: absolute;
    display: block;

    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;

    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.a-footer:hover::before {
    transform: scaleX(1);
  }


